@model List<ListUserModel>
@{
    ViewData["Title"] = "Users";
}

<style>
    .dropend:hover .dropdown-menu {
        display: inline-block;
    }
</style>

<div class="divider"></div>

<section class="container">
    <div class="row mb-4">
        <h3 class="col fw-normal fw-bold">Clients <a asp-action="ListUsers" asp-route-id=""><i class="bi bi-arrow-clockwise"></i</a>></h3>
        @*<h3 class="col fw-normal fw-bold text-end">Text</h3>*@
        <form class="col-5 col-md-3" asp-action="ListUsers" asp-controller="Admin" method="post" autocomplete="off">
            <div class="input-group">
                <input name="id" type="text" class="form-control" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col" class="d-none d-sm-table-cell">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Vehicles</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="d-none d-sm-table-cell">@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        @{
                            var vehicles = context.Users.Where(u => u.UserName == user.Email).Include(u => u.Vehicles).First().Vehicles;
                        }
                        @if (vehicles.Any())
                        {
                            <div class="dropend">
                                <a class="btn btn-outline-secundarye" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var vehicle in vehicles)
                                    {
                                        <li><a class="dropdown-item" style="cursor: default">@vehicle.Model</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    </td>
                    <td>
                        @if (user.Email != User.Identity.Name && user.Id != "8da842fc-7aba-4cbb-9668-a7e56e92ad96")
                        {
                            @if (user.IsAdmin)
                            {
                                <a class="btn btn-danger text-nowrap" asp-action="RemoveAdminRole" asp-route-id="@user.Id" data-bs-toggle="tooltip" data-bs-title="Take Admin Role"><i class="bi bi-arrow-down-circle"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-success text-nowrap" asp-action="GiveAdminRole" asp-route-id="@user.Id" data-bs-toggle="tooltip" data-bs-title="Give Admin Role"><i class="bi bi-arrow-up-circle"></i></a>
                            }
                            <a class="btn btn-outline-danger text-nowrap" asp-action="DeleteAccount" asp-route-id="@user.Id" data-bs-toggle="tooltip" data-bs-title="Delete Account"><i class="bi bi-trash"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary disabled text-nowrap" data-bs-toggle="tooltip" data-bs-title="No Actions to Take"><i class="bi bi-slash-lg"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>