<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SlowInsurance</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/aos/aos.js">
    <link rel="stylesheet" href="~/lib/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="~/lib/glightbox/glightbox.min.css">
    <link rel="stylesheet" href="~/lib/Swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SlowInsurance.styles.css" asp-append-version="true" />
</head>
<body>
    @*<header class="p-3 text-bg-dark">
        <div class="container-fluid d-grid gap-3 align-items-center text-white">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="~/images/iconWhite.png" width="40" height="40" role="img" aria-label="Logo" />
                </a>

                @if (signInManager.IsSignedIn(User))
                {
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a asp-controller="Vehicle" asp-action="ListVehicles" class="nav-link px-2">Vehicles</a></li>
                        <li><a asp-controller="Invoice" asp-action="ListInvoices" asp-route-id="@null" class="nav-link px-2">Invoices</a></li>
                        <li><a asp-controller="Accident" asp-action="ListAccidents" class="nav-link px-2">Accidents</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><span></span></li>
                    </ul>
                }


                <div class="text-end">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="dropdown">
                            <a class="d-block text-decoration-none dropdown-toggle cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false">
                                @userManager.FindByEmailAsync(User?.Identity?.Name).Result.Name
                            </a>
                            <ul class="dropdown-menu text-small">
                                <li><a class="dropdown-item" asp-action="AccountDetails" asp-controller="Account">Profile</a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a class="dropdown-item" asp-action="MainPage" asp-controller="Admin">Admin Page</a></li>
                                }
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Sign out</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-light me-2">Login</a>
                        <a asp-controller="Account" asp-action="SignUp" class="btn btn-primary">Sign Up</a>
                    }
                </div>
            </div>
        </div>
    </header>*@

    <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">
        <div class="logo">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a asp-controller="Home" asp-action="Index"><img src="~/images/iconWhite.png" alt="Slow Insurance Logo" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
        <ul>
        @if (signInManager.IsSignedIn(User))
        {
            <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a class="nav-link" asp-controller="Vehicle" asp-action="ListVehicles">Vehicles</a></li>
            <li><a class="nav-link" asp-controller="Invoice" asp-action="ListInvoices">Invoices</a></li>
            <li><a class="nav-link" asp-controller="Accident" asp-action="ListAccidents">Accidents</a></li>
            <li class="dropdown"><a><span>@userManager.FindByEmailAsync(User?.Identity?.Name).Result.Name</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a asp-action="AccountDetails" asp-controller="Account">Profile</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li><a asp-action="MainPage" asp-controller="Admin">Admin Page</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Sign out</a></li>
                </ul>
            </li>
        }
        else
        {
            <li><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
        }
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
    <div class="divider"></div>
    <main role="main">
        @RenderBody()
    </main>

    @*======= Footer ======= *@
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Maxim</h3>
                            <p>
                                A108 Adam Street <br>
                                NY 535022, USA<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Slow Insurance</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer>
    @*End Footer*@

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/boxicons/dist/boxicons.min.js"></script>
    <script src="~/lib/aos/aos.js"></script><!-- aos -->
    <script src="~/lib/glightbox/js/glightbox.min.js"></script><!-- glightbox -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script><!-- isotope -->
    <script src="~/lib/Swiper/swiper-bundle.min.js"></script><!-- swiper -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>