@using System.Text.Json;
@model List<InvoiceModel>
@{
    ViewData["Title"] = "All Invoices";
}
<div class="divider"></div>
<section class="container">
@if (!Model.Any())
{
    <div class="card">
        <div class="card-header">
            404
        </div>
        <div class="card-body">
            <h5 class="card-title">We could not find any invoices</h5>
            <p class="card-text">We cannot seem to find any invoices due to the fact there are no vehicles associated to your name. If you wish to add an insurance, click the button bellow</p>
            <a asp-controller="Vehicle" asp-action="AddVehicle" class="btn btn-primary">Add Vehicle</a>
        </div>
    </div>
}
else
{
    <table class="table table-striped table-hover">
        @if (ViewBag.HasId)
        {
            var plate = JsonSerializer.Deserialize<VehicleModel>(Model.First().Vehicle).Plate;
            <caption>Invoices of @plate</caption>
        }
        <thead class="table-secondary">
            <tr>
                <th scope="col">Vehicle</th>
                <th scope="col">Value</th>
                <th scope="col" class="d-none d-sm-table-cell">Issued Date</th>
                <th scope="col" class="d-none d-sm-table-cell">Expiration Date</th>
                <th scope="col" class="d-table-cell d-sm-none">Validity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in Model)
            {
                var vehicle = JsonSerializer.Deserialize<VehicleModel>(invoice.Vehicle);
                <tr>
                    <td>@vehicle.Model</td>
                    <td>@invoice.Value</td>
                    <td class="d-none d-sm-table-cell">@invoice.IssuedDate.Value.ToString("dd/MM/yyyy")</td>
                    <td class="d-none d-sm-table-cell">
                        @if (invoice.ExpirationDate.Value != DateTime.MinValue)
                        {
                            @invoice.ExpirationDate.Value.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            @Html.Raw("Renewed")
                        }
                    </td>
                    <td class="d-table-cell d-sm-none">
                        @{
                            var val = "";
                            if (invoice.ExpirationDate.Value != DateTime.MinValue)
                            {
                                val = $"{invoice.IssuedDate.Value.ToString("dd/MM/yyyy")}\n{invoice.ExpirationDate.Value.ToString("dd/MM/yyyy")}";
                            }
                            else
                            {
                                val = $"{invoice.IssuedDate.Value.ToString("dd/MM/yyyy")}";
                            }
                        }
                        @Html.Raw(val)
                    </td>
                    <td>
                    @if (invoice.IsRenewalNeeded)
                    {
                        <a asp-action="RenewInvoice" asp-controller="Invoice" asp-route-id="@vehicle.Plate" class="btn btn-sm btn-outline-info">Renew</a>
                    }
                    <a asp-action="PrintInvoice" asp-controller="Invoice" asp-route-id="@invoice.Id" class="btn btn-sm btn-outline-info">Print</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</section>