@model IEnumerable<VehicleModel>;
@{
    ViewData["Title"] = "Vehicles";
}
<div class="divider"></div>
<section class="container">
@if (Model.Count() is 0)
{
    <div class="card">
        <div class="card-header">
            404
        </div>
        <div class="card-body">
            <h5 class="card-title">There are no vehicles associated to your name</h5>
            <p class="card-text">We cannot seem to find any vehicles. If you wish to add an insurance, click the button bellow</p>
            <a asp-controller="Vehicle" asp-action="AddVehicle" class="btn btn-primary">Add Vehicle</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="d-grid gap-2">
            <a asp-action="AddVehicle" asp-controller="Vehicle" class="btn btn-outline-primary btn-lg">Add Vehicle</a>
            <a asp-action="PrintAll" asp-controller="Vehicle" class="btn btn-outline-info btn-lg">Print All</a>
        </div>
        @foreach(var vehicle in Model){
            <div class="col-xl-6">
                <div class="card my-3">
                    <div class="card-header">
                            @vehicle.Plate
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>@vehicle.Model</h5>
                        </div>
                        <p class="card-text">Registration Date: @vehicle.RegistrationDate.ToString("dd/MM/yyyy")</p>
                        <p class="card-text">Adhesion Date: @vehicle.AdhesionDate.ToString("dd/MM/yyyy")</p>
                        <a asp-action="ListInvoices" asp-controller="Invoice" asp-route-id="@vehicle.Plate" class="btn btn-primary">See Invoices</a>
                        <a asp-action="Print" asp-controller="Vehicle" asp-route-id="@vehicle.Plate" class="btn btn-outline-info text-nowrap">Print Invoices</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
</section>