@model IEnumerable<VehicleModel>;
@{
    ViewData["Title"] = "Vehicles";
}
@if (Model.Count() is 0)
{
    <div class="card">
        <div class="card-header">
            404
        </div>
        <div class="card-body">
            <h5 class="card-title">There are no vehicles associated to your name</h5>
            <p class="card-text">We cannot seem to find any vehicles. If you wish to add an insurance, click the button bellow</p>
            <a asp-controller="Vehicle" asp-action="AddVehicle" class="btn btn-primary">Add Vehicle</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="d-grid gap-2">
            <a asp-action="AddVehicle" asp-controller="Vehicle" class="btn btn-outline-primary btn-lg" style="margin: -10px 0px 20px 0px">Add Vehicle</a>
        </div>
        @foreach(var vehicle in Model){
            <div class="col-sm-4">
                <div class="card my-1">
                    <div class="card-body">
                        <h5 class="card-title">@vehicle.Model - @vehicle.Plate</h5>
                        <p class="card-text">Registration Date: @vehicle.RegistrationDate.ToString("dd/MM/yyyy")</p>
                        <p class="card-text">Adhesion Date: @vehicle.AdhesionDate.ToString("dd/MM/yyyy")</p>
                        <a asp-action="ListInvoices" asp-controller="Invoice" asp-route-id="@vehicle.Plate" class="btn btn-primary d-grid">See Invoices</a>
                    </div>
                </div>
            </div>
        }
    </div>
}